<%= fields_for :genero, @filme.filme_genero do |g| %>          
  <!-- Modal -->
  <div class="modal fade" id="modalGenero" tabindex="-1" role="dialog" aria-labelledby="modalGeneroLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="modalGeneroLabel"><%= t('links.newgender') %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">                    
          <div class="form-group">
            <%= g.label :nome %>
            <%= g.text_field :nome, class:"form-control", placeholder:"Ex: Romance" %>
          </div>                  
        </div>

        <div class="modal-footer">       
          <div class="actions">
            <% g.submit "Dale", class:"btn btn-primary text-light" %>
          </div>               
        </div>
      </div>
    </div>
  </div>
<% end %>